<%= form_with(model: ip_log, local: true) do |form| %>
  <% if ip_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ip_log.errors.count, "error") %> prohibited this ip_log from being saved:</h2>

      <ul>
      <% ip_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
